---
title: "Notice of password change"
preheader: "Notice of password change. Please let us know if this doesn't seem quite right."
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
    Hello Handsome,
  </h1>

  <p class="m-0 leading-6">
    We wanted to make sure you know your password has been changed.
    <br> 
    <br> 
    Please let us know if this doesn't seem quite right.
  </p>

  <p class="m-0">
    <br>
    <br>
    Thanks, <br />schadenfred
  </p>
</x-main>