---
title: "Reset your password"
preheader: "Someone has requested a password reset for the account at this address."
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
    Hello Handsome,
  </h1>

  <p class="m-0 leading-6">
    Someone requested a password reset for the account at this address. 
    <br>
    <br>

    Would you mind confirming this person was you via the button below?    
  </p>

  <x-spacer height="24px" />

  <x-button href='edit_password_url(@resource, reset_password_token: @token)'>
    Change my password &rarr;
  </x-button>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">
    Please let us know if this doesn't seem quite right.
    <br>
    <br>
    Thanks, <br />schadenfredd
  </p>
</x-main>
