---
title: "Payment declined"
preheader: "Are you sure this payment method is good?"
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
    Hello Handsome,
  </h1>

  <p class="m-0 leading-6">
    We were unable to charge your payment method for your subscription.
    <br>
    <br>
    Would you mind updating your billing information for us?
  </p>

  <x-spacer height="24px" />

  <x-button href='root_url'>
    Update billing information &rarr;
  </x-button>

  <x-divider space-y="32px" class="bg-slate-200" />

  <p class="m-0">
    If you're broke or in distress and need some help, let us know. We want you to succeed.
    <br>
    <br>
    Thanks, <br />schadenfred
  </p>
</x-main>