---
title: "Your trial has ended"
preheader: "Please confirm you'd like to continue with your subscription."
bodyClass: bg-slate-50
---

<x-main>
  <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
    Hello Handsome,
  </h1>

  <p class="m-0 leading-6">
    Thanks for trying us out.
    <br>
    <br>
    If you'd like to continue, please 
    log into <%= link_to "your account", root_url %>. 
  </p>

  <x-spacer height="24px" />

  <p class="m-0">
    <br>
    <br>
    Thanks, <br />schadenfred
  </p>
