<tr>
  <td class="text-center text-slate-600 text-xs px-6">
    <p class="m-0 mb-4 uppercase"></p>

    <p class="m-0 italic">
      Containerized configuration backstories
    </p>

    <p class="cursor-default">
      <a href="https://schadenfred.github.io/roro/"
        class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">docs</a>
      &bull;
      <a href="https://schadenfred.github.io/roro/"
        class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">github</a>
      &bull;
      <a href="https://hub.docker.com/r/handsomefencer/roro"
        class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]">image</a>
    </p>
  </td>
</tr>